
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" >
  <div class="icon"></div>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><div class="CityBook"><i class="fa fa-fw fa-home"></i>CityBook</div></a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="../city"routerLinkActive="active" >Cities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated" routerLink="../cityadd" routerLinkActive="active">Add City</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../register" *ngIf="!isAuthenticated" routerLinkActive="active"><i class="fa fa-fw fa-user-plus"></i>Register</a>
        </li>
      </ul>
      
      <form *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
        <input class="form-control me-sm-2" name="userName" [(ngModel)]="loginUser.userName" required type="text" placeholder="Kullanıcı Adı">
        <input class="form-control me-sm-2" name="password" type="password" [(ngModel)]="loginUser.password" required placeholder="Şifre">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid" >Login</button>
      </form>
      <div class="user" *ngIf="isAuthenticated">
        <div><i class="fa fa-user-circle" aria-hidden="true"></i>{{currentUser}}</div>
      </div>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf="isAuthenticated" (click)="logOut()">Log Out</button>

    </div>
    
  </div>
</nav>
