<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="../city"routerLinkActive="active" >Cities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="../value" routerLinkActive="active">Values</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../cityadd" routerLinkActive="active">Add City</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../register" routerLinkActive="active">Register</a>
        </li>
      
      </ul>
      <form *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
        <input class="form-control me-sm-2" name="userName" [(ngModel)]="loginUser.userName" required type="text" placeholder="Kullanıcı Adı">
        <input class="form-control me-sm-2" name="password" type="password" [(ngModel)]="loginUser.password" required placeholder="Şifre">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid" >Login</button>
      </form>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf="isAuthenticated" (click)="logOut()">Log Out</button>

    </div>
  </div>
</nav>